-#TODO need to dry up registration header. Used in sessions#new, users#new, and registrations#new.

#page
  %header#header.site-header
    = render "layouts/guest_pages/guest_header"

  %main#main.site-main
    .container
      .row
        #signin
          .col-xs-4.col-xs-offset-4
            %h1 Reset Password

            %p
              Hey
              = @user.first_name
              , give me a new password
