.container
  .logo{style: "width: 50%; margin: 20px auto"}
    = link_to "https://littlecatlabs.herokuapp.com/" do
      = image_tag attachments["logo_handwriting.png"].url


  .col-md-8.col-md-offset-2.mt50
    .panel.panel-success
      .panel-heading{style: "background-color: yellowgreen !important"}
        .panel-title
          %h2.text-center Reset Password
      .panel-body
        %h3.text-center
          You, or someone pretending to be you, wants to reset your password
        %p.mt50
          If you were the one to request a password reset click the link below.
        %P
          = link_to @reset_link, @reset_link, class: "blue underline"

      .panel-footer
        %h5
        =link_to "Little Cat Labs", "https://www.littlecatlabs.co", class: "blue underline text-center"
