.ibox.float-e-margins
  .ibox-title
    %h2 You don't have any cats yet
  .ibox-content
    .row
      .col-sm-10
        %h3.m-t-none.m-b
          Add one now
          %small so we can start tracking

        = render "cats/form"
