.ibox.float-e-margins
  .ibox-title
    %h2 Weights

  .ibox-content
    .row
      .col-sm-10
        %h3.m-t-none.m-b
          Most Recent Weights
        %table.table
          %thead
            %tr
              %th Amount
              %th Date
              %th Delete
          %tbody
            - @weights.last(10).reverse.each do |weight|
              %tr
                %td
                  = number_with_precision( weight.amount, precision: 2)
                  lbs
                %td= weight.created_at.strftime("%b %e, %Y - %l:%M %p")
                %td= link_to "x", user_cat_weight_path(@user, @cat, weight), method: :delete, class: "btn btn-xs btn-danger ml20"

        = link_to "View All Weights", user_cat_weights_path(@user, @cat)
