.ibox.float-e-margins
  .ibox-title
    %h3
      Weight Graph
      -#%small With custom colors.
    .ibox-tools
  .ibox-content
    #chartdiv{ style: "width: 100%; height: 400px; background-color: #FFFFFF;" }
