.ibox.float-e-margins
  .ibox-title
    %h5
      Simple area example
      %small With custom colors.
    .ibox-tools
  .ibox-content
    #chartdiv{ style: "width: 100%; height: 400px; background-color: #FFFFFF;" }
