
/*Not really sure best approach to tackle all phones*/
/*iphone simulators seems to be 979px wide for some reason*/

/*http://stephen.io/mediaqueries/*/
/*http://stackoverflow.com/questions/16459358/media-queries-on-retina-enabled-devices*/

/*Used to hide registration and signing buttons on landing page*/
/*For laptops and desktops*/
  .navbar-header a {
    display: none;
  }


/*Old method for retina ios devices*/
/*@media*/
  /*only screen and (-webkit-min-device-pixel-ratio: 2),*/
  /*only screen and (min-resolution: 192dpi) { styles here }*/



/*This seems to work on ios devices*/
/*Confirmed on: iPhone 4s, 5, 5s, & 6, iPad 2, Retina & Air*/

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 1024px) {

  /*User Show Page*/
  #page-wrapper {
    margin: 0;
  }
  .navbar-default {
    display: none;
  }

  .navbar-header a {
    display: inline-block;
  }

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 60px;
  }

  h3 { font-size: 50px; }

  .ibox-title {
    height: 100px;
  }

  #add_weight .btn {
    font-size: 65px;
    padding: 25px;
  }

  input.form-control {
    height: 120px;
    font-size: 70px;
  }

  #signout a {
    font-size: 30px;
  }

  td {
    font-size: 35px;
  }

  th {
    font-size: 35px;
  }

  label {
    font-size: 35px;
  }

  #chartdiv {
    height: 800px;
  }


  /*Signin Page*/

  .col-xs-4 {
    width: 100%;
  }

  .col-xs-offset-4 {
    margin-left: 0%;
  }

  a#signup {
    font-size: 35px;
  }

  #signin .btn {
    font-size: 65px;
    padding: 25px;
    border-radius: 10px;
  }


  /*Landing Page*/

  .fa.fa-bars {
    font-size: 40px;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-header {
    text-align: center;
  }

  .navbar-header .btn {
    font-size: 65px;
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
  }

  img#logo {
    max-width: 75%;
  }

  .navbar-brand {
    height: 100px;
    display: none;
  }

  .site-main {
    padding-top:150px
  }
}
